<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmhit.dao.DepartmentMapper">
	<resultMap id="BaseResultMap" type="com.cmhit.po.Department">
		<constructor>
			<idArg column="departmentId" jdbcType="INTEGER"
				javaType="java.lang.Integer" />
			<arg column="number" jdbcType="VARCHAR"
				javaType="java.lang.String" />
			<arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="fatherId" jdbcType="INTEGER"
				javaType="java.lang.Integer" />
			<arg column="remark" jdbcType="VARCHAR"
				javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		departmentId, number, name, fatherId, remark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from department
		where departmentId = #{departmentid,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultType="com.cmhit.po.Department"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from department

	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from department
		where departmentId =
		#{departmentid,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteByPrimaryKey2">
		delete from department
		where 1 = 1
	</delete>
	
	<insert id="insert" parameterType="com.cmhit.po.Department">
		<!-- <selectKey resultType="java.lang.Integer" keyProperty="departmentid" 
			order="AFTER" > SELECT LAST_INSERT_ID() </selectKey> -->
		insert into department (departmentId,number, name, fatherId,
		remark)
		values (#{departmentid,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{fatherid,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.cmhit.po.Department">
		<!-- <selectKey resultType="java.lang.Integer" keyProperty="departmentid" 
			order="AFTER" > SELECT LAST_INSERT_ID() </selectKey> -->
		insert into department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="departmentid != null">
				departmentId,
			</if>
			<if test="number != null">
				number,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="fatherid != null">
				fatherId,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="departmentid != null">
				#{departmentid,jdbcType=VARCHAR},
			</if>
			<if test="number != null">
				#{number,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="fatherid != null">
				#{fatherid,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.cmhit.po.Department">
		update department
		<set>
			<if test="number != null">
				number = #{number,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="fatherid != null">
				fatherId = #{fatherid,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where departmentId = #{departmentid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.cmhit.po.Department">
		update department
		set number =
		#{number,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		fatherId =
		#{fatherid,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR}
		where
		departmentId = #{departmentid,jdbcType=INTEGER}
	</update>

	<update id="updateByPrimaryKey2"
		parameterType="com.cmhit.po.Department">
		update department
		set name = #{str3,jdbcType=VARCHAR},
		number = #{str5,jdbcType=VARCHAR},
		remark = #{str6,jdbcType=VARCHAR},
		fatherId = #{str7,jdbcType=INTEGER}
		where departmentId =
		#{mm,jdbcType=INTEGER}
	</update>

	<insert id="insert2" parameterType="com.cmhit.po.Department">
		insert into
		department(name,number,remark,fatherId,departmentId)
		values
		(#{str3,jdbcType=VARCHAR},#{str5,jdbcType=VARCHAR},#{str6,jdbcType=VARCHAR},#{str7,jdbcType=INTEGER},#{mm,jdbcType=INTEGER})
	</insert>
</mapper>


